h1 {
   color: #000066;
}

.wy-side-nav-search:before{
   content: '';
   height: 150px;
   width: 100%;
   display: block;
   background-image: url(Rose.png);
   background-repeat: no-repeat;
   background-position: center center;
   margin-bottom: 20px;
}